<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="         http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd        http://camel.apache.org/schema/spring   http://camel.apache.org/schema/spring/camel-spring.xsd">
    <bean class="com.redhat.gpte.training.camel.MyBean" id="myBeanError"/>
    <bean class="com.redhat.gpte.training.camel.MyBean" id="myBeanErrorException"/>
    <camelContext id="camelContext-47b7f62d-1858-41aa-b0cf-5a5d33ab34ce" xmlns="http://camel.apache.org/schema/spring">
        <packageScan>
            <package>com.redhat.gpte.training.camel</package>
        </packageScan>
        <endpoint id="sourceDirectoryXml" uri="file:./target/test-classes/camel/in/xml"/>
        <endpoint id="unknownCurrencyXml" uri="file:./target/test-classes/camel/out/xml/?fileExist=Override&amp;fileName=UnknownPayments.xml"/>
        <endpoint id="directErrorHandlerWithException" uri="direct://errorHandlerWithException"/>
        <endpoint id="directErrorHandler" uri="direct://errorHandler"/>
        <endpoint id="directDLQError" uri="direct://directDLQError"/>
    </camelContext>
</beans>
